
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', monospace;
}
body::-webkit-scrollbar{
    width: 0.3vw;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: #979797; 

}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.fixed{
    width: 54%;
    height: 100%;
    position: fixed;
    background-color: #c7a4ff;

    display: flex;
    align-items: center;
    justify-content: center;
}
.terminal{
    width: 35vw;
}
.wrap{
    margin-left: 54vw;
}
.docs{
    margin-left: 7vw;
    margin-top: 8vw;
}
.graphic{
    position: absolute;
    z-index: -1;
    right: 3vw;
    width: 35vw;
    top: 2.5vw;
}
.title{
    font-size: 2.3vw;
    font-weight: 600;
    margin-bottom: 2vw;
}
.subtitle{
    font-size: 1vw;
    color: rgb(185, 185, 185);
    width: 19vw;
    line-height: 2.5vw;
    margin-bottom: 3vw;
}

.index-title{
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 6vw;
    color: #3D3D3D;
}
.code{
    background: #F1F1F1;
    padding: 0.75vw 1vw 0.75vw 2vw ;
    color: #474747;
    font-weight: 400;
    width: 23vw;
    margin-top: 2.15vw;
    font-size: 0.9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.code-text{
    margin: 0;
}
.copy{
    background: #ffffff;

    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0.45vw;
}

.copied{
    display: none;
}


.tab-title{
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 3vw;
    margin-bottom: 0;
    color: #252525;
}
.tab-text{
    color: #707070;
    font-size: 0.98vw;
    font-weight: 400;
    margin-top: 2.3vw;
}
.tab-code{
    background: #F1F1F1;
    padding: 1vw 2vw;
    color: #474747;
    font-weight: 400;
    margin-top: 2.2vw;
    font-size: 0.98vw;
    margin-bottom: 8vw;
}

.footer{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5vw;
}
.button{
    background: #d5b9ff;
    color: #000;
    padding: 1.2vw 2vw;
    margin: 2vw 0;
    font-size: 0.95vw;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
}
.button:hover{
    background: #000;
    color: #fff;
    border: 2px solid black;
}
.links{
    margin-top: 3vw;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.link-icon{
    margin-right: 1vw;
    width: 1.4vw;
}
.credit{
color: #707070;
font-size: 0.92vw;
margin-top: 2vw;
}
.icon{
    width: 1.1vw;
    margin: 0 1vw;
    margin-top: 0.5vw;
    margin-bottom: -0.2vw;
    margin-left: 0.1vw;
}
.credit-name{
    color: #313131;
    font-family: 500;
}
